<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conversor De Temperatura</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #2f1a99;
        }

        form {
            margin-top: 20px;
        }

        input[type="number"], select {
            padding: 8px;
            border-radius: 20px;
            border: 2px solid #2cc5c5;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #2cc5c5;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        div {
            margin-top: 20px;
            padding: 10px;
            background-color: #e3f1f5;
        }

        h2 {
            color: #2b6dca;
        }
    </style>
</head>
<body>
<h1>Conversor De Temperatura</h1>
<form th:action="@{/converter}" method="post">
    <input type="number" step="0.01" name="num1" required/>
    <select name="operator" required>
        <option value="Celsius To Kelvin">Celsius p/ Kelvin</option>
        <option value="Celsius To Fahrenheit">Celsius p/ Fahrenheit</option>
        <option value="Fahrenheit To Kelvin">Fahrenheit p/ Kelvin</option>
        <option value="Fahrenheit To Celsius">Fahrenheit p/ Celsius</option>
        <option value="Kelvin To Fahrenheit">Kelvin p/ Fahrenheit </option>
        <option value="Kelvin To Celsius">Kelvin p/ Celsius </option>
    </select>
    <button type="submit">Converter</button>
</form>
<div th:if="${result != null}">
    <h2>Conversão: <span th:text="${result}"></span></h2>
</div>
</body>
</html>


